* {
  margin: 0;
  padding: 0;
}
p,
span,
h2,
dt,
dd,
strong,
a {
  font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, sans-serif;
}
a {
  text-decoration: none;
}
#wrapper {
  background: #f5f5f5;
  /*123*/
}
#wrapper .head {
  width: 100%;
  background: #fff;
}
#wrapper .header {
  border-bottom: 1px solid #ececec;
  background: #fff;
  margin: auto;
  width: 1000px;
  height: 60px;
  line-height: 60px;
}
#wrapper .header .logo {
  display: inline-block;
  float: left;
  margin-right: 60px;
  margin-top: 10px;
}
#wrapper .header nav {
  display: inline-block;
  float: left;
}
#wrapper .header-nav {
  height: 60px;
  line-height: 60px;
  list-style: none;
  font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, sans-serif;
}
#wrapper .header-nav li {
  float: left;
  margin-right: 50px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
#wrapper .header-nav li .arrow-icon {
  width: 8px;
  height: 8px;
  border-top: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
  display: inline-block;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#wrapper .header-nav li .submenu {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 60px;
  left: 0;
  background: #fff;
  font-size: 12px;
  color: #666;
  width: 280px;
  height: 294px;
}
#wrapper .header-nav li .submenu h3 {
  margin: 10px 0;
  padding: 0 15px;
  background: #fafafa;
  height: 28px;
  line-height: 28px;
  font-weight: 300;
}
#wrapper .header-nav li .submenu a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  color: #333;
}
#wrapper .school-list i {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 10px;
}
#wrapper .school-list .web-icon {
  background-position: -15px -27px;
}
#wrapper .school-list .android-icon {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/allicon4.png) 0 0 no-repeat;
  background-position: 0px -60px;
  background-size: 16px 148px;
}
#wrapper .school-list .python-icon {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/allicon4.png) 0 0 no-repeat;
  background-position: 0px -1px;
  background-size: 16px 148px;
}
#wrapper .school-list .go-icon {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/allicon4.png) 0 0 no-repeat;
  background-position: 0px -38px;
  background-size: 16px 148px;
}
#wrapper .school-list .ios-icon {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/allicon4.png) 0 0 no-repeat;
  background-position: 0px -82px;
  background-size: 16px 148px;
}
#wrapper .vip-lesson a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #666;
}
#wrapper .vip-lesson i {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 2px;
}
#wrapper .vip-lesson span {
  color: #bbb;
  vertical-align: middle;
  float: right;
}
#wrapper .vip-lesson .kck-icon {
  background-position: 0 -13px;
}
#wrapper .vip-lesson .zyljt-icon {
  background-position: -45px 0;
}
#wrapper .vip-lesson .zstxt-icon {
  background-position: -30px -13px;
}
#wrapper .vip-lesson .xlkc-icon {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/xlkc2.png) 0 0 no-repeat;
  background-position: 0 0;
  background-size: 12px 12px;
}
#wrapper .vip-lesson .kcbq-icon {
  background-position: -15px -13px;
}
#wrapper .vip-lesson .vip-icon {
  background-position: -16px 0;
}
#wrapper .vip-lesson .jswd-icon {
  background-position: 0 -27px;
}
#wrapper .vip-lesson .wiki-icon {
  background-position: -29px -27px;
}
#wrapper .vip-lesson .sq-icon {
  background-position: 0 2px;
}
#wrapper .vip-lesson zyxz-icon {
  background-position: -30px 0;
}
#wrapper .icon-box {
  display: inline-block;
  float: right;
  text-align: right;
  width: 200px;
  margin-right: 10px;
  height: 60px;
}
#wrapper .icon-box span {
  height: 60px;
  width: 17px;
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}
#wrapper .icon-box .search-icon {
  width: 17px;
  background: url(http://e.jikexueyuan.com/headerandfooter/images/search-icon.png) 0 0 no-repeat;
  background-size: 17px 17px;
  background-position: 0;
}
#wrapper .icon-box .app-icon {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/app-icon.png) 0 0 no-repeat;
  background-size: 17px;
  background-position: 0;
  position: relative;
}
#wrapper .icon-box .app-icon .submenu {
  display: none;
  background: #fff;
  position: absolute;
  width: 120px;
  top: 60px;
  right: -50px;
}
#wrapper .icon-box .app-icon .submenu img {
  width: 100%;
}
#wrapper .icon-box .app-icon .top-icon {
  width: 15px;
  height: 15px;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  position: absolute;
  top: -10px;
  right: 50px;
}
#wrapper .icon-box .login-icon {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/login-icon.png) 0 0 no-repeat;
  background-size: 17px;
  background-position: 0;
  position: relative;
}
#wrapper .icon-box .login-icon .submenu {
  display: none;
  position: absolute;
  padding: 10px 0;
  background: #fff;
  width: 120px;
  top: 58px;
  right: -10px;
  box-sizing: border-box;
}
#wrapper .icon-box .login-icon .submenu:hover {
  display: block;
}
#wrapper .icon-box .login-icon .submenu dd {
  float: left;
  font-size: 12px;
  line-height: 35px;
  vertical-align: middle;
  margin: 0;
  padding-left: 10px;
  box-sizing: border-box;
}
#wrapper .icon-box .login-icon .submenu dd a.reg-btn {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  display: inline-block;
  text-align: center;
}
#wrapper .icon-box .login-icon .submenu dd a.login-btn {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  display: inline-block;
  text-align: center;
}
#wrapper .icon-box .login-icon .submenu dd a {
  color: #666;
}
#wrapper .icon-box .login-icon .submenu dd i {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/allicon2.png) 0 0 no-repeat;
  background-size: 64px 64px;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  display: inline-block;
}
#wrapper .icon-box .login-icon .submenu .xxzx-icon {
  background-position: -16px -15px;
}
#wrapper .icon-box .login-icon .submenu .grzy-icon {
  background-position: -45px -1px;
}
#wrapper .icon-box .login-icon .submenu .xxtz-icon {
  background-position: -16px -30px;
}
#wrapper .icon-box .login-icon .submenu .zhsz-icon {
  background-position: -30px -1px;
}
#wrapper .icon-box .login-icon .top-icon {
  width: 15px;
  height: 15px;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  position: absolute;
  top: -10px;
  right: 5px;
}
#wrapper .pager {
  margin-top: 20px;
}
#wrapper .pager .cf {
  width: 1000px;
  height: 500px;
  margin: auto;
  box-sizing: border-box;
  clear: both;
}
#wrapper .pager .cf .jk-banner {
  width: 750px;
  height: 330px;
  background: #f5f5f5;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  box-sizing: border-box;
  position: relative;
}
#wrapper .pager .cf .jk-banner .banner-container {
  width: 100%;
  position: relative;
}
#wrapper .pager .cf .jk-banner .banner-container .banner-arrow-left {
  display: block;
  width: 50px;
  height: 80px;
  cursor: pointer;
  background: url(http://s1.jikexueyuan.com/index/images/arrow_dd5a57d.png) no-repeat 0 0;
  background-size: 50px 80px;
  position: absolute;
  top: 120px;
}
#wrapper .pager .cf .jk-banner .banner-container .banner-arrow-right {
  display: block;
  width: 50px;
  height: 80px;
  cursor: pointer;
  background: url(http://s1.jikexueyuan.com/index/images/arrow_dd5a57d.png) no-repeat 0 0;
  background-size: 50px 80px;
  position: absolute;
  top: 120px;
  right: 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#wrapper .pager .cf .jk-banner .banner-container .swiper-wrapper {
  width: calc(5250px);
  overflow: hidden;
  animation: mab 20s ease-out infinite;
  -webkit-animation: mab 20s ease-out infinite;
  -moz-animation: mab 20s ease-out infinite;
  -o-animation: mab 20s ease-out infinite;
}
#wrapper .pager .cf .jk-banner .banner-container .swiper-wrapper a {
  display: block;
  float: left;
}
#wrapper .pager .cf .jk-banner .banner-container .swiper-wrapper a:nth-child(1) {
  background: url(http://a1.jikexueyuan.com/home/201612/15/a9f3/58525175751d1.jpg) center center no-repeat #f5f5f5;
  width: 750px;
  height: 330px;
}
#wrapper .pager .cf .jk-banner .banner-container .swiper-wrapper a:nth-child(2) {
  background: url(http://a1.jikexueyuan.com/home/201612/19/9863/58573bd1eb3fc.jpg) center center no-repeat #f5f5f5;
  width: 750px;
  height: 330px;
}
#wrapper .pager .cf .jk-banner .banner-container .swiper-wrapper a:nth-child(3) {
  background: url(http://a1.jikexueyuan.com/home/201609/26/2027/57e8bdeeea6b8.jpg) center center no-repeat #f5f5f5;
  width: 750px;
  height: 330px;
}
#wrapper .pager .cf .jk-banner .banner-container .swiper-wrapper a:nth-child(4) {
  background: url(http://a1.jikexueyuan.com/home/201612/19/12b9/58573ba80d31f.jpg) center center no-repeat #f5f5f5;
  width: 750px;
  height: 330px;
}
#wrapper .pager .cf .jk-banner .banner-container .swiper-wrapper a:nth-child(5) {
  background: url(http://a1.jikexueyuan.com/home/201612/19/2aa3/58573b737d2db.jpg) center center no-repeat #f5f5f5;
  width: 750px;
  height: 330px;
}
#wrapper .pager .cf .jk-banner .banner-container .swiper-wrapper a:nth-child(6) {
  background: url(http://a1.jikexueyuan.com/home/201608/02/0b1c/579fa1b0c9f40.jpg) center center no-repeat #f5f5f5;
  width: 750px;
  height: 330px;
}
#wrapper .pager .cf .jk-banner .banner-container .swiper-wrapper a:nth-child(7) {
  background: url(http://a1.jikexueyuan.com/home/201608/02/01b8/579fa17c35b7f.jpg) center center no-repeat #f5f5f5;
  width: 750px;
  height: 330px;
}
#wrapper .pager .cf .jk-banner .banner-container .banner-pagination {
  position: absolute;
  left: 0;
  bottom: 36px;
  text-align: center;
  width: 100%;
  z-index: 800;
  height: 0;
  cursor: pointer;
}
#wrapper .pager .cf .jk-banner .banner-container .banner-pagination .swiper-pagination-switch {
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  width: 8px;
  height: 8px;
  background: #fff;
  vertical-align: middle;
  cursor: pointer;
}
#wrapper .pager .jk-login {
  width: 240px;
  height: 160px;
  float: left;
  box-sizing: border-box;
  padding: 30px;
  background: #fff;
}
#wrapper .pager .jk-login .userinfo {
  height: 57px;
  width: 100%;
}
#wrapper .pager .jk-login .userinfo .userName {
  font-size: 12px;
  color: #555;
  margin-top: 8px;
  overflow: hidden;
}
#wrapper .pager .jk-login .userinfo .userStatus {
  margin-left: 73px;
  font-size: 12px;
  color: #555;
  line-height: 16px;
  height: 16px;
  width: 108px;
  margin-top: 10px;
}
#wrapper .pager .jk-login .userinfo a {
  border: 0 none;
  margin-top: 0px;
}
#wrapper .pager .jk-login .userImg {
  height: 57px;
  width: 57px;
  border-radius: 50%;
  margin-right: 15px;
}
#wrapper .pager .jk-login a {
  display: inline-block;
  float: left;
  font-size: 14px;
  width: 85px;
  height: 32px;
  border: 1px solid #35b558;
  border-radius: 2px;
  color: #35b558;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  box-sizing: border-box;
}
#wrapper .pager .jk-login .loginon {
  margin-right: 10px;
}
#wrapper .pager .jk-huodong {
  float: left;
  width: 240px;
  height: 160px;
  margin-top: 10px;
  background: #f5f5f5;
  overflow: hidden;
  box-sizing: border-box;
}
#wrapper .pager .jk-jiuye {
  float: left;
  width: 100%;
  margin-top: 20px;
  position: relative;
  height: 150px;
}
#wrapper .pager .jk-jiuye .jk-ban {
  float: left;
  width: 327px;
  height: 70px;
  background: #fff;
  margin-right: 9px;
  margin-bottom: 10px;
  line-height: 68px;
  text-decoration: none;
  box-sizing: border-box;
  transition: box-shadow 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear;
  -moz-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
}
#wrapper .pager .jk-jiuye .jk-ban img {
  width: 55px;
  height: 55px;
  vertical-align: middle;
  padding-left: 33px;
}
#wrapper .pager .jk-jiuye .jk-ban p {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  width: 204px;
  text-align: center;
  margin-left: 27px;
  box-sizing: border-box;
}
#wrapper .pager .jk-jiuye .php {
  background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban01_29b9e05.jpg) center center no-repeat;
  background-size: 327px 70px;
}
#wrapper .pager .jk-jiuye .web {
  background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban02_0aec839.jpg) center center no-repeat;
  background-size: 327px 70px;
}
#wrapper .pager .jk-jiuye .ui {
  background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban03_47f0666.jpg) center center no-repeat;
  background-size: 327px 70px;
  margin-right: 0;
}
#wrapper .pager .jk-jiuye .android {
  background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban06_2402215.jpg) center center no-repeat;
  background-size: 327px 70px;
}
#wrapper .pager .jk-jiuye .ios {
  background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban04_b84d257.jpg) center center no-repeat;
  background-size: 327px 70px;
}
#wrapper .pager .jk-jiuye .java {
  background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban05_9f8330c.jpg) center center no-repeat;
  background-size: 327px 70px;
  margin-right: 0;
}
#wrapper .pager .jk-sku {
  width: 1000px;
  height: 270px;
  margin: auto;
  margin-top: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
#wrapper .pager .jk-sku ul {
  width: 100%;
  height: 100%;
  list-style: none;
  box-sizing: border-box;
}
#wrapper .pager .jk-sku ul li {
  float: left;
  width: 235px;
  height: 100%;
  margin-right: 20px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}
#wrapper .pager .jk-sku ul li a {
  display: block;
  height: 100%;
  text-decoration: none;
}
#wrapper .pager .jk-sku ul li a img {
  width: 100%;
  height: 155px;
  cursor: pointer;
}
#wrapper .pager .jk-sku ul li .skuContainer {
  padding: 14px;
  height: 113px;
  background: #fff;
  box-sizing: border-box;
}
#wrapper .pager .jk-sku ul li .skuContainer .skuNum {
  margin-left: 8px;
}
#wrapper .pager .jk-sku ul li:last-child {
  margin-right: 0px;
}
#wrapper .pager .skuTitle {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  color: #555;
  line-height: 18px;
  height: 36px;
}
#wrapper .pager .skuInfo {
  margin-top: 6px;
  color: #999;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  margin-bottom: 10px;
}
#wrapper .pager .skuPrice {
  font-size: 18px;
  color: #ff5c00;
  margin-top: 8px;
  margin-right: 5px;
}
#wrapper .pager .skuThrought {
  font-size: 12px;
  color: #999;
  margin-top: 14px;
  text-decoration: line-through;
  vertical-align: bottom;
}
#wrapper .pager .skuNum {
  color: #999;
  font-size: 12px;
  margin-left: 10px;
}
#wrapper .pager .jk-college {
  width: 1000px;
  height: 310px;
  margin: auto;
  margin-bottom: 40px;
}
#wrapper .pager .jk-college ul {
  list-style: none;
}
#wrapper .pager .jk-college li {
  width: 240px;
  height: 130px;
  float: left;
  margin-left: 10px;
  position: relative;
}
#wrapper .pager .jk-college li:first-child {
  width: 500px;
  height: 270px;
  margin-left: 0;
}
#wrapper .pager .jk-college .python {
  margin-bottom: 10px;
}
#wrapper .pager .jk-college .python img {
  width: 240px;
  height: 130px;
}
#wrapper .pager .jk-college .python span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 88px;
  text-align: center;
  background: url(http://s1.jikexueyuan.com/index/images/cpython_5ed9df4.png) no-repeat center 31px;
  background-size: 36px 36px;
  font-size: 14px;
  color: #fff;
}
#wrapper .pager .jk-college .go {
  margin-bottom: 10px;
}
#wrapper .pager .jk-college .go img {
  width: 240px;
  height: 130px;
}
#wrapper .pager .jk-college .go span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 88px;
  text-align: center;
  background: url(http://s1.jikexueyuan.com/index/images/cgo_e66208d.png) no-repeat center 31px;
  background-size: 36px 36px;
  font-size: 14px;
  color: #fff;
}
#wrapper .pager .jk-college .web img {
  width: 500px;
  height: 270px;
}
#wrapper .pager .jk-college .web span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 180px;
  text-align: center;
  background: url(http://s1.jikexueyuan.com/index/images/cweb_2d70d0b.png) no-repeat center 67px;
  background-size: 55px 84px;
  font-size: 20px;
  color: #fff;
}
#wrapper .pager .jk-college .python img {
  width: 240px;
  height: 130px;
}
#wrapper .pager .jk-college .python span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 88px;
  text-align: center;
  background: url(http://s1.jikexueyuan.com/index/images/cpython_5ed9df4.png) no-repeat center 31px;
  background-size: 36px 36px;
  font-size: 14px;
  color: #fff;
}
#wrapper .pager .jk-college .ios img {
  width: 240px;
  height: 130px;
}
#wrapper .pager .jk-college .ios span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 88px;
  text-align: center;
  background: url(http://s1.jikexueyuan.com/index/images/cios_dc0ca8e.png) no-repeat center 31px;
  background-size: 36px 36px;
  font-size: 14px;
  color: #fff;
}
#wrapper .pager .jk-college .more img {
  width: 240px;
  height: 130px;
}
#wrapper .pager .jk-college .more span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 88px;
  text-align: center;
  background: url(http://s1.jikexueyuan.com/index/images/cwechat_624099d.png) no-repeat center 31px;
  background-size: 40px 33px;
  font-size: 14px;
  color: #fff;
}
#wrapper .pager .jk-vip {
  width: 1000px;
  height: 420px;
  margin-bottom: 40px;
  margin: auto;
  box-sizing: border-box;
}
#wrapper .pager .jk-vip ul {
  width: 100%;
  height: 310px;
  list-style: none;
  box-sizing: border-box;
}
#wrapper .pager .jk-vip li {
  width: 158px;
  height: 150px;
  border: 1px solid #e9e9e9;
  background: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}
#wrapper .pager .jk-vip .nodejs {
  margin-right: 0;
}
#wrapper .pager .jk-vip .cocos2d {
  margin-right: 0;
}
#wrapper .pager .jk-vip a {
  display: block;
  text-decoration: none;
  text-align: center;
}
#wrapper .pager .jk-vip img {
  width: 55px;
  height: 55px;
  margin-top: 25px;
}
#wrapper .pager .jk-vip p {
  font-size: 12px;
  color: #555;
  height: 22px;
  line-height: 22px;
}
#wrapper .pager .jk-vip span {
  font-size: 12px;
  color: #35b558;
  height: 22px;
  line-height: 22px;
}
#wrapper .pager .jk-vip .vipall {
  display: inline-block;
  margin-top: 29px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #35b558;
  border-radius: 2px;
  width: 120px;
  font-size: 14px;
  color: #35b558;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -60px;
}
#wrapper .pager .jk-story {
  width: 1000px;
  height: 300px;
  margin-bottom: 40px;
  margin: auto;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}
#wrapper .pager .jk-story .storydiv {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: absolute;
  width: calc(2000px);
}
#wrapper .pager .jk-story .storydiv ul {
  overflow: hidden;
  display: block;
  list-style: none;
  float: left;
}
#wrapper .pager .jk-story .storydiv ul li {
  width: 320px;
  height: 200px;
  margin-right: 20px;
  float: left;
  box-sizing: border-box;
}
#wrapper .pager .jk-story .storydiv ul li:last-child {
  margin-right: 0;
}
#wrapper .pager .jk-story .storydiv {
  animation: ma 10s ease-out infinite;
  -webkit-animation: ma 10s ease-out infinite;
  -moz-animation: ma 10s ease-out infinite;
  -o-animation: ma 10s ease-out infinite;
}
#wrapper .pager .jk-story .story {
  width: 100%;
  height: 121px;
  border: 1px solid #e9e9e9;
  background: #fff;
  position: relative;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}
#wrapper .pager .jk-story .story p {
  font-size: 12px;
  color: #555;
  line-height: 20px;
  padding: 20px 25px;
}
#wrapper .pager .jk-story .story p:before {
  position: absolute;
  top: 10px;
  left: 10px;
  content: '';
  display: inline-block;
  width: 14px;
  height: 10px;
  background: url(http://s1.jikexueyuan.com/index/images/storyicon_4a5e270.png) no-repeat center;
  background-size: 14px 10px;
}
#wrapper .pager .jk-story .story p:after {
  position: absolute;
  bottom: 10px;
  right: 10px;
  content: '';
  display: inline-block;
  width: 14px;
  height: 10px;
  background: url(http://s1.jikexueyuan.com/index/images/storyicon_4a5e270.png) no-repeat center;
  background-size: 14px 10px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#wrapper .pager .jk-story .person {
  width: 100%;
  height: 80px;
  position: relative;
}
#wrapper .pager .jk-story .person img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
}
#wrapper .pager .jk-story .person p {
  position: absolute;
  top: 25px;
  left: 100px;
  display: inline-block;
  font-size: 12px;
  color: #555;
  height: 24px;
  line-height: 24px;
}
#wrapper .pager .jk-story .person span {
  position: absolute;
  top: 50px;
  left: 100px;
  height: 24px;
  line-height: 24px;
  color: #999;
  font-size: 12px;
}
#wrapper .pager .jk-story .story-pagination {
  position: absolute;
  left: 0;
  bottom: 16px;
  text-align: center;
  width: 100%;
  z-index: 800;
  height: 0;
  cursor: pointer;
}
#wrapper .pager .jk-story .story-pagination .swiper-pagination-switch {
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  width: 8px;
  height: 8px;
  background: #bbb;
  vertical-align: middle;
  cursor: pointer;
}
#wrapper .pager .jk-story .story-pagination .swiper-active-switch {
  height: 8px;
  width: 16px;
  background: #35b558;
}
#wrapper .pager .jk-partner {
  width: 1000px;
  height: 240px;
  margin: auto;
  margin-bottom: 60px;
  box-sizing: border-box;
  margin-top: 40px;
}
#wrapper .pager .jk-partner ul {
  list-style: none;
  width: 100%;
  height: 120px;
  display: inline-block;
  box-sizing: border-box;
}
#wrapper .pager .jk-partner ul li {
  float: left;
  width: 150px;
  height: 50px;
  border: 1px solid #e9e9e9;
  background: #fff;
  margin-right: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}
#wrapper .pager .jk-partner ul li:nth-child(6) {
  margin-right: 0;
}
#wrapper .pager .jk-partner ul li:nth-child(n+7) {
  margin-top: 20px;
}
#wrapper .pager .jk-partner ul li:last-child {
  margin-right: 0;
}
#wrapper .pager .jk-partner ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
#wrapper .pager .jk-partner ul li:first-child a {
  background: url(http://s1.jikexueyuan.com/index/images/p_microsoft_82f9a9a.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(2) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_tencent_47175aa.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(3) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_qcloud_ab76cc7.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(4) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_qualcomm_362a472.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(5) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_cocos_2a0a8f3.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(6) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_amd_f9f0c7f.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(7) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_xunfei_d1cd670.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(8) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_tuling_3ec6ea2.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(9) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_tingyun_c2752df.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(10) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_juhe_25bbedf.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(11) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_bootstrap_d0a74f3.png) no-repeat center;
}
#wrapper .pager .jk-partner ul li:nth-child(12) a {
  background: url(http://s1.jikexueyuan.com/index/images/p_cloudstack_6ecabb3.png) no-repeat center;
}
#wrapper .pager .jk-partner .more-partner {
  display: inline-block;
  margin-top: 38px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #35b558;
  border-radius: 2px;
  width: 120px;
  font-size: 14px;
  color: #35b558;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -60px;
}
#wrapper .pager a {
  text-decoration: none;
}
#wrapper .pager h2 {
  margin-bottom: 22px;
  font-size: 18px;
  color: #555;
  line-height: 18px;
  height: 18px;
  font-weight: 400;
}
#wrapper .foot {
  width: 100%;
  background: #fff;
  border-top: 1px solid  #e4e4e4;
}
#wrapper .foot .footer {
  width: 1000px;
  height: 300px;
  margin: auto;
}
#wrapper .foot .footer .jkinfor-block {
  width: 100%;
  height: 215px;
  position: relative;
}
#wrapper .foot .footer .jkinfor-block .jk-logo {
  position: absolute;
  top: 25px;
  width: 160px;
  height: 76px;
}
#wrapper .foot .footer .jkinfor-block .jk-logo img {
  width: 109px;
  height: 40px;
}
#wrapper .foot .footer .jkinfor-block .jk-logo p {
  font-size: 12px;
  color: #999;
  margin-top: 20px;
}
#wrapper .foot .footer .jkinfor-block .jkdl dl {
  margin-top: 30px;
  display: block;
  width: 135px;
  height: 180px;
  color: #808080;
  float: left;
}
#wrapper .foot .footer .jkinfor-block .jkdl dl:first-child {
  margin-left: 225px;
}
#wrapper .foot .footer .jkinfor-block .jkdl dl dt {
  font-size: 14px;
  line-height: 30px;
}
#wrapper .foot .footer .jkinfor-block .jkdl dl dd {
  font-size: 12px;
  line-height: 30px;
}
#wrapper .foot .footer .jkinfor-block .jkdl dl dd a {
  color: #808080;
}
#wrapper .foot .footer .jkinfor-block .jk-down {
  position: absolute;
  top: 30px;
  right: 60px;
  width: 175px;
  height: 119px;
  color: #808080;
  font-size: 14px;
}
#wrapper .foot .footer .jkinfor-block .jk-down p {
  margin-bottom: 20px;
}
#wrapper .foot .footer .jkinfor-block .jk-down .downios {
  width: 140px;
  height: 30px;
  background: url(http://e.jikexueyuan.com/headerandfooter/images/icon-down-ios.png) no-repeat 0 0;
  background-size: 30px 30px;
  border: 1px solid #e9e9e9;
  line-height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}
#wrapper .foot .footer .jkinfor-block .jk-down .downand {
  width: 140px;
  height: 30px;
  background: url(http://e.jikexueyuan.com/headerandfooter/images/icon-down-and.png) no-repeat 0 0;
  background-size: 30px 30px;
  border: 1px solid #e9e9e9;
  line-height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}
#wrapper .foot .footer .jkinfor-block .jk-down span {
  display: inline-block;
  margin-left: 40px;
}
#wrapper .foot .footer .jkinfor-block .jk-down .downios img {
  width: 115px;
  height: 153px;
  position: absolute;
  top: -128px;
  left: 14px;
  display: none;
}
#wrapper .foot .footer .jkinfor-block .jk-down .downand img {
  width: 115px;
  height: 153px;
  position: absolute;
  top: -75px;
  left: 14px;
  display: none;
}
#wrapper .foot .footer .copy {
  width: 100%;
  height: 83px;
  font-size: 12px;
  color: #999;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
}
#wrapper .foot .footer .copy strong a {
  font-weight: 400;
  color: #808080;
}
#wrapper .foot .footer .copy a.down-wechat {
  float: right;
  height: 15px;
  width: 20px;
  background: url(http://e.jikexueyuan.com/headerandfooter/images/icon-down-wechat.png) no-repeat;
  background-size: 18px 15px;
}
#wrapper .foot .footer .copy a.down-sina {
  float: right;
  height: 15px;
  width: 20px;
  margin-right: 10px;
  background: url(http://e.jikexueyuan.com/headerandfooter/images/icon-down-sina.png) no-repeat;
  background-size: 20px 15px;
}
#wrapper .foot .footer .copy #szfw_logo {
  display: block;
  margin: 15px auto 0;
}
#wrapper .gotop {
  position: fixed;
  left: 50%;
  margin-left: 510px;
  bottom: 100px;
  width: 34px;
  text-align: center;
  z-index: 2000;
}
#wrapper .gotop span.top {
  display: block;
  background: url(http://e.jikexueyuan.com/headerandfooter/images/gotop.jpg) 0 0 no-repeat;
  background-size: 34px 103px;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
#wrapper .gotop span.jk-app {
  position: relative;
  display: block;
  background: #f7f7f7 url(http://e.jikexueyuan.com/headerandfooter/images/phone-1.png) center center no-repeat;
  background-size: 12px 24px;
  width: 34px;
  height: 35px;
  border-bottom: 1px solid #e0e0e0;
}
#wrapper .gotop .appewm {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/appewm.png) center center no-repeat;
  background-size: 100%;
  width: 126px;
  height: 159px;
  position: absolute;
  z-index: 2100;
  left: -126px;
  top: -70px;
  display: none;
}
#wrapper .jk-login a.loginon:hover {
  background-color: #35b558;
  color: #fff;
}
#wrapper .jk-login a.registernow:hover {
  background-color: #35b558;
  color: #fff;
}
#wrapper .jk-jiuye a:hover {
  box-shadow: 5px 5px 5px #9E9E9E;
}
#wrapper .jk-sku ul li:hover {
  border: 1px solid #e9e9e9;
  box-shadow: 0 2px 6px #ccc;
}
#wrapper .jk-vip ul li:hover {
  border: 1px solid #e1e2e1;
  box-shadow: 0 2px 6px #ccc;
}
#wrapper .jk-vip a.vipall:hover {
  background-color: #35b558;
  color: #fff;
}
#wrapper .jk-story div.story:hover {
  border: 1px solid #e1e2e1;
  box-shadow: 0 2px 6px #ccc;
}
#wrapper .jk-partner li:hover {
  border: 1px solid #e1e2e1;
  box-shadow: 0 2px 6px #ccc;
}
#wrapper .jk-partner a.more-partner:hover {
  background-color: #35b558;
  color: #fff;
}
#wrapper .gotop span.top:hover {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/gotop2.jpg) 0 0 no-repeat;
  background-position: 0 0;
  background-size: 34px 103px;
  -webkit-background-size: 34px 103px;
  -moz-background-size: 34px 103px;
}
#wrapper .gotop span.jk-app:hover {
  background: #f7f7f7 url(http://e.jikexueyuan.com/headerandfooter/images/phone-2.png) center center no-repeat;
  background-size: 12px 24px;
}
@keyframes mab {
  0%,
  10% {
    margin-left: 0px;
  }
  15%,
  25% {
    margin-left: -750px;
  }
  30%,
  40% {
    margin-left: -1500px;
  }
  45%,
  55% {
    margin-left: -2250px;
  }
  60%,
  70% {
    margin-left: -3000px;
  }
  75%,
  85% {
    margin-left: -3750px;
  }
  90%,
  100% {
    margin-left: -4500px;
  }
}
@-webkit-keyframes mab {
  0%,
  10% {
    margin-left: 0px;
  }
  15%,
  25% {
    margin-left: -750px;
  }
  30%,
  40% {
    margin-left: -1500px;
  }
  45%,
  55% {
    margin-left: -2250px;
  }
  60%,
  70% {
    margin-left: -3000px;
  }
  75%,
  85% {
    margin-left: -3750px;
  }
  90%,
  100% {
    margin-left: -4500px;
  }
}
@-moz-keyframes mab {
  0%,
  10% {
    margin-left: 0px;
  }
  15%,
  25% {
    margin-left: -750px;
  }
  30%,
  40% {
    margin-left: -1500px;
  }
  45%,
  55% {
    margin-left: -2250px;
  }
  60%,
  70% {
    margin-left: -3000px;
  }
  75%,
  85% {
    margin-left: -3750px;
  }
  90%,
  100% {
    margin-left: -4500px;
  }
}
@-o-keyframes mab {
  0%,
  10% {
    margin-left: 0px;
  }
  15%,
  25% {
    margin-left: -750px;
  }
  30%,
  40% {
    margin-left: -1500px;
  }
  45%,
  55% {
    margin-left: -2250px;
  }
  60%,
  70% {
    margin-left: -3000px;
  }
  75%,
  85% {
    margin-left: -3750px;
  }
  90%,
  100% {
    margin-left: -4500px;
  }
}
@keyframes ma {
  0%,
  50% {
    margin-left: 0px;
  }
  55%,
  100% {
    margin-left: -1000px;
  }
}
@-webkit-keyframes ma {
  0%,
  50% {
    margin-left: 0px;
  }
  55%,
  100% {
    margin-left: -1000px;
  }
}
@-moz-keyframes ma {
  0%,
  50% {
    margin-left: 0px;
  }
  55%,
  100% {
    margin-left: -1000px;
  }
}
@-o-keyframes ma {
  0%,
  50% {
    margin-left: 0px;
  }
  55%,
  100% {
    margin-left: -1000px;
  }
}
